*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color:#e0d2c9 ;
    line-height: 1.4;
    text-align: justify;
    padding: 10px;
    }

main h2{
    display: flex;
    justify-content: center;
    padding-top: 15px;

}

p span{
    color:#6f358e ;
}

a:hover{
    background: #6f358e;
    color: #ffffff;
}

footer{
    padding-top: 10px;
    
    h4{
        padding-top: 10px;
        padding-bottom: 30px;
    }
}